html {
    min-height: 200vh;
}

body {
    background-color: #1F2521;
    overflow: hidden;
}

.navbar {
    background-color: #499459;
}

.container {
    max-width: 95%;
    margin-top: 2%;
    height: 100%;
}

.row {
    height: 50%;
    margin-bottom: 3%;
}

.row-button{
    height: 40vh;
}

.col-sm {
    color: #ffffff;
    width: 30%;
    height: 100%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: #49945900;
    border-radius: 25px;
    padding: 0 0 0 0;
    -moz-box-shadow:    inset 0 0 10px #00000000;
    -webkit-box-shadow: inset 0 0 10px #00000000;
    box-shadow:         inset 0 0 10px #00000000;
}


.col-user {
    content:"";
    color: #ffffff;
    width: 30%;
    height: 15vh;
    margin-left: 3%;
    margin-right: 3%;
    background-color: #499459;
    border-radius: 25px;
    padding: 0 0 0 0;
    -moz-box-shadow:    inset 0 0 10px #00000000;
    -webkit-box-shadow: inset 0 0 10px #00000000;
    box-shadow:         inset 0 0 10px #00000000;
}
